<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/resets.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<title>Let's Eat!</title>
	</head>
	<body>

<h1>Let's Eat!</h1>

<p>
A food blog about the World's famous past time.....EATING! Let's discuss our
favorite eats!
</p>

<% for (let i = 0; i < title.length; i++) { %>
	<%= title[i].id %>
	<%= title[i].title %>
	<%= title[i].body %>
<% } %>

</html>
