<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/resets.css">
		<link rel="stylesheet" type="text/css" href="./css/formstyle.css">
		<title>Let's Eat!</title>
	</head>
	<body>


		<h1>Post Your Eats!</h1>

		<p1>
			<img src="foodpost.jpg">
			<div class="form">
			<form method="post" action="/blog">
			<input type="text" name="title" placeholder="subject" />
				<br>
			<textarea type="text" name="body" placeholder="body"></textarea>
				<br>
			<button>Submit</button>
		</form>
	</div>
	</p1>
	</body>

</html>
