<!DOCTYPE HTML>
<html>
	<head>
		<title>This is....</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<!-- <link rel="stylesheet" type="text/css" href="css/resets.css" /> -->
	</head>
      <body id="portbody">
					<div class="container1">
            <p1>
      			  <img id="profile" src="IMG_2351.JPG">
            </p1>
      			<div class="bio_para">
	      			Hello! My name is Jane Park. I'm a Web Developer who is on the hunt for
		          the best eats wherever I go.
		      		While searching for my next meal, I listen to my favorite podcasts and
		          always subscribing to more.
		      		Drop me a line on places I should dine or podcasts that I should listen to!
      			</div>
						<p2>
	            Post some entries on my Food Blog: <a href="https://port-blog.herokuapp.com/form">Let's Eat!</a>
	          </p2>
				</body>
					</div>

</html>
