<!DOCTYPE HTML>

<html>

			<!-- <link rel="stylesheet" type="text/css" href="/css/reset.css" /> -->
			<link rel="stylesheet" type="text/css" href="/css/styles.css" />


	<body>

		<h1 id = header>Jane Park</h1>

					<div class="navbar">
						<a href="/" class="navbar-header">Home</a>
						 <a href="http://www.github.com/janepark7" id="github">Github</a>
						<a href="https://www.linkedin.com/in/jane-park-7aa208132/" id="Linkedin">Linkedin</a>
						<a href="mailto:janeparkjp@gmail.com" id="email">Contact Me</a>
					</div>

				<main class="template-main">
					<%- include(page, data) %>
				</main>

				<footer id = footer>Jane Park 2017</footer>

			</body>
			</html>
