<!DOCTYPE HTML>

<html>
	<head>
			<title>Jane Park - </title>
			<link rel="stylesheet" type="text/css" href="/css/reset.css" />
			<link rel="stylesheet" type="text/css" href="/css/janepark.css" />

	</head>
	<body>
			<div class="template">
				<a href="/" class="template-header">
				</a>
				<p>
					<div class="navbar">
						 <a href="http://www.github.com/janepark7" class="github">Github</a>
						<a href="https://www.linkedin.com/in/jane-park-7aa208132/" class="Linkedin">Linkedin</a>
					</div>

				<!-- <main class="template-main">
					<%- include(page, data) %>
				</main> -->

				<footer class="template-footer">Jane Park 2017</footer>
			<div>
			</body>
			</html>
