h1 {
	padding-top: 30px;
	padding-bottom: 5px;
	font-size: 50px;
	font-family: "Arial", Georgia, Serif;
	font-weight: bold;
	text-align: center;
}

.intro {
	display: block;
	color: black;
	padding: 15px 55px 20px 55px;
	margin: 0 auto;
}

p1 {
	/*padding: 10px 10px 15px 10px;*/
}

img {
	padding: 10px 10px 15px 10px;
	object-fit: contain;
	width: 350px;
	height: 275px;
}

body {
	font-size: 19px;
	text-align: center;
	padding: 1px 50px 20px 50px;
	background-color: white;
}

.post {
	text-align: left;
	padding: 10px 50px 10px 50px;
	background-color: #336600;
	color: white;
}

.title {
font-size: 32px;
font-family: arial;
padding: 4px 0 4px 0;
font-weight: bold;
color: pink;
}

.entry {
font-size: 20px;
}

.timestamp {
	font-size: 9px;
	font-style: italic;
	padding: 8px 0 12px 0;
	color: orange;
}
